* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

body {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-zone {
  width: 100%;
  max-width: 50rem;
  border: 2px dashed gray;
  border-radius: 12px;
  padding: 48px 24px;
  text-align: center;
  cursor: pointer;
  background: ghostwhite;
  position: relative;
}

.drop-zone input[type=file] {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 50rem;
}

.scale {
  display: flex;
  flex-direction: row;
}

#scale_p {
  padding: 1rem;
}

#button_clear {
  font-family: "Jersey 15", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 10px rgb(176, 176, 176);
  border-radius: 12px;
  cursor: pointer;
  background: ghostwhite;
  transition-duration: 0.4s
}

#button_clear:hover {

  background-color: rgb(67, 223, 158);
}

canvas {
  width: 800px;
  height: 800px;
  max-width: 100%;
}
