* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-zone {
  width: 100%;
  max-width: 50rem;
  border: 2px dashed gray;
  border-radius: 12px;
  padding: 48px 24px;
  text-align: center;
  cursor: pointer;
  background: ghostwhite;
  position: relative;
}

.drop-zone input[type=file] {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 50rem;
}

.scale {
  display: flex;
  flex-direction: row;
}

#scale_p {
  padding: 1rem;


}

#button_clear {
  margin: 2rem;
  padding: 1rem;
  border: 2px dashed gray;
  border-radius: 12px;
  cursor: pointer;
  background: ghostwhite;
}

canvas {
  width: 800px;
  height: 800px;
  max-width: 100%;
}
